html {
    margin-left: 10px;
    margin-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-center {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.nav-links {
    display: flex;
    margin-right: 15px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgb(247, 253, 253);
    margin-right: 40px;
    font-size: 35px;
}
nav {
    border-radius: 5px;
    background-image: linear-gradient(to right, pink, rgb(238, 238, 138));
}
h4 {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 40px;    
    font-size: 55px;
    color: #f1f5f8;
}
button {
    background-color: white;
    border-width: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
h2 {
    background-image: linear-gradient(to right, pink, rgb(238, 238, 138));
    color: #f1f5f8;
    padding: 40px;
    margin: 150px 250px 30px 250px;
    border-radius: 8px;
    font-size: 40px;
}
.container {
    text-align: center;
}
a:hover {
    color: black;
}
.clickme-btn:hover {
    color: white;
    background-color: black;
}